<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에 Mapper인터페이스의 경로를 준다 -->
<mapper namespace="com.kimu.crudboard.domain.post.PostMapper">

    <!--
    tb_post 테이블 전체 컬럼
    변수선언과 비슷한 개념
    여기서 정의하고 필요할때 include 태그로 쓰면 된다
    -->
    <sql id="postColumns">
        id
        , title
        , content
        , writer
        , view_cnt
        , notice_yn
        , delete_yn
        , created_date
        , modified_date
    </sql>

    <!--게시글 저장-->
    <insert id="save" parameterType="com.kimu.crudboard.domain.post.PostRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_post (
            <include refid="postColumns"/>
        ) VALUES (
            #{id}
        ,   #{title}
        ,   #{content}
        ,   #{writer}
        ,   0
        ,   #{noticeYn}
        ,   0
        ,   NOW()
        ,   NULL
        )
    </insert>

    <!--게시글 수정-->
    <update id="update" parameterType="com.kimu.crudboard.domain.post.PostRequest">
        UPDATE tb_post
        SET
            modified_date = NOW()
        ,   title = #{title}
        ,   content = #{content}
        ,   writer = #{writer}
        ,   notice_yn = #{noticeYn}
        WHERE
            id = #{id}
    </update>

    <!--게시글 삭제-->
    <delete id="deleteById" parameterType="long">
        UPDATE tb_post
        SET
            delete_yn = 1
    </delete>

    <!--게시글 리스트 조회-->
    <select id="findAll" resultType="com.kimu.crudboard.domain.post.PostResponse">
        SELECT
            <include refid="postColumns"/>
        FROM
            tb_post
        WHERE
            delete_yn = 0
        ORDER BY
            id DESC
    </select>

    <!--게시글 상세조회-->
    <select id="findById" parameterType="long" resultType="com.kimu.crudboard.domain.post.PostResponse">
        SELECT
            <include refid="postColumns"/>
        FROM
            tb_post
        WHERE
            id = #{value}
        ORDER BY
            id DESC
    </select>

</mapper>